AddDefaultCharset utf-8
php_value upload_max_filesize 750M
php_value post_max_size 750M
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]
IndexIgnore *.php *.jpg *.gif *.js