html {
height:100%;
}
body {
height:100%;
}
.shadow{
box-shadow: 0 0 7px rgba(0,0,0,0.5); /* Параметры тени */
padding: 10px;
}

.block{
background-color: rgba(221, 221, 221, 0.5);
margin-bottom:10px;
border-radius: 6px;
}

.brd{
    padding-bottom:5px; 
    border-bottom: 2px solid #009688;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #009688;
    border-color: #009688;
}
.pagination
{
    margin:8px 0px 0px 0px;
    
    
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background-color: #009688;
}