#home {
  background: url(bg1.jpg) center 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
}
#home article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
}
#about {
  background: url(about-bg.jpg) center 0 repeat fixed; min-height: 1000px;
  height: 1000px;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
#about article {
  height: 458px;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
}

.carret{
    text-align: center;
    margin: 0 2% 0 2%;
}
.carret i{
    font-size: 150px;
    margin: 0 auto;
    color: rgba(242, 242, 242, 0.88);    
}
.carret p {
    font-style: italic;
    font-size: 13px;    
}
.carret .item {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */      
    cursor: default;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: rgba(97, 97, 97, 0.27);
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    -webkit-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    color: rgba(242, 242, 242, 0.88); 
}
.carret .item-list{
    height: 330px;
}
.carret .item:hover{
    background-color: rgba(97, 97, 97, 0.93);
}
.carret .item .caption {
    padding: 9px;
    color: rgba(242, 242, 242, 0.88); 
}
.header{
    color: #f1f1f1;
    border-bottom: 5px solid #009688;
    /*width: 60%;*/
    margin-bottom: 5%;
}
.footer{
    font-size: 11px;
    width: 100%;
    position: absolute;
    bottom: 10px;
    color: rgba(255, 255, 255, 0.51);
    text-align: center;
}